<nav class="app-navbar">
  <div class="app-navbar-left">
    <a class="app-navbar-title">Admin Panel</a>

    <ul class="app-navbar-links">
      <li>
        <a
          routerLink="/admin/exam-list"
          routerLinkActive="active"
          class="app-navbar-link"
        >
          Exams
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/create"
          routerLinkActive="active"
          class="app-navbar-link"
        >
          Create Exam
        </a>
      </li>
    </ul>
  </div>

  <button
    class="destructive-btn app-navbar-logout"
    style="color: white"
    (click)="logout()"
  >
    Logout
  </button>
</nav>
