<div class="col-container create-exam-container">
  <h2>Create New Exam</h2>

  <div class="col-container card-container">
    <label for="examTitle" class="form-label">Exam Title</label>
    <input
      type="text"
      id="examTitle"
      [(ngModel)]="examTitle"
      placeholder="Enter Exam Title"
    />
  </div>

  <hr />

  <!-- for selecting previous questions-->
  <h3>Questions Added</h3>

  <div
    *ngIf="questions.length === 0"
    class="card-container empty-question-card"
  >
    No questions added yet.
  </div>

  <div
    *ngFor="let q of questions; let i = index"
    class="card-container question-item"
  >
    <h4>Question {{ i + 1 }}:</h4>
    <p>{{ q.questionText }}</p>

    <ul class="col-container question-options">
      <li *ngFor="let opt of q.options">{{ opt }}</li>
    </ul>

    <p><strong>Correct Option:</strong> {{ q.correctOption }}</p>

    <button class="destructive-btn remove-btn" (click)="removeQuestion(i)">
      Remove
    </button>
  </div>

  <hr />

  <!-- for adding new questoin-->
  <h3>Add New Question</h3>

  <div class="col-container card-container">
    <label for="questionText" class="form-label">Question</label>
    <input
      type="text"
      id="questionText"
      [(ngModel)]="newQuestion.questionText"
      placeholder="Enter question text"
    />
  </div>

  <div class="col-container card-container">
    <label class="form-label">Options</label>

    <div
      *ngFor="let opt of newQuestion.options; let idx = index"
      class="row-container option-row"
    >
      <input
        type="text"
        [(ngModel)]="newQuestion.options[idx]"
        placeholder="Option {{ idx + 1 }}"
        class="flex-grow"
      />
      <button
        class="destructive-btn option-remove-btn"
        (click)="removeOption(idx)"
      >
        Remove
      </button>
    </div>

    <button class="secondary-btn add-option-btn" (click)="addOption()">
      Add Option
    </button>
  </div>

  <div class="col-container card-container">
    <label for="correctOption" class="form-label">Correct Option</label>
    <input
      type="text"
      id="correctOption"
      [(ngModel)]="newQuestion.correctOption"
      placeholder="Enter correct option"
    />
  </div>

  <button class="secondary-btn add-question-btn" (click)="addQuestion()">
    Add Question
  </button>

  <hr />

  <button class="secondary-btn save-exam-btn" (click)="saveExam()">
    Save Exam
  </button>
</div>
