<nav class="app-navbar">
  <div class="app-navbar-left">
    <a class="app-navbar-title">Student Panel</a>

    <ul class="app-navbar-links">
      <li>
        <a
          routerLink="/student"
          routerLinkActive="active"
          class="app-navbar-link"
        >
          Dashboard
        </a>
      </li>
      <li>
        <a
          routerLink="/student/results"
          routerLinkActive="active"
          class="app-navbar-link"
        >
          Results
        </a>
      </li>
    </ul>
  </div>

  <button
    class="destructive-btn app-navbar-logout"
    style="color: white"
    (click)="logout()"
  >
    Logout
  </button>
</nav>
