<app-loader *ngIf="isLoading"></app-loader>

<form
  class="card-container col-container form-container"
  *ngIf="!isLoading && !errorMessage"
  #formContainer="ngForm"
  (ngSubmit)="onSubmitClck()"
>
  <h2>Login User</h2>

  <div class="col-container">
    <input
      type="email"
      name="email"
      placeholder="Enter your Email"
      required
      email
      [(ngModel)]="userInput.email"
      #email="ngModel"
    />
    <p class="error-text" *ngIf="email.touched && email.invalid">Email empty</p>
  </div>
  <div class="col-container">
    <input
      type="password"
      name="password"
      placeholder="Enter your password"
      required
      minlength="6"
      [(ngModel)]="userInput.password"
      #password="ngModel"
    />
    <p class="error-text" *ngIf="password.touched && password.invalid">
      Give a valid password.
    </p>
  </div>

  <div class="row-container">
    <button class="flex" type="submint" [disabled]="formContainer.invalid">
      Login
    </button>
    <button class="flex" type="button" (click)="onGoToSignUp()">
      Go to signup
    </button>
  </div>
</form>
