<div class="exams-container">
  <h2>Available Exams</h2>

  <div *ngIf="availableExams.length === 0" class="info-alert">
    You have completed all available exams!
  </div>

  <div *ngIf="availableExams.length > 0" class="exam-list">
    <a
      *ngFor="let exam of availableExams"
      class="exam-list-item"
      [routerLink]="['/student/take-exam', exam.id]"
    >
      <div class="exam-details">
        <h5>{{ exam.title }}</h5>
        <small>{{ exam.description }}</small>
      </div>
      <span class="start-exam-badge">Start Exam</span>
    </a>
  </div>
</div>
