<div class="container" *ngIf="questions.length > 0">
  <h2>{{ questions[currentQuestionIndex].question }}</h2>

  <div *ngFor="let option of questions[currentQuestionIndex].options">
    <input
      type="radio"
      [name]="'question-' + currentQuestionIndex"
      [value]="option"
      [(ngModel)]="selectedAnswers[currentQuestionIndex]"
    />
    {{ option }}
  </div>

  <div class="navigations-buttons">
    <button
      (click)="previousQuestion()"
      [disabled]="currentQuestionIndex === 0"
    >
      Previous
    </button>
    <button
      (click)="nextQuestion()"
      [disabled]="currentQuestionIndex === questions.length - 1"
    >
      Next
    </button>
  </div>
  <button class="submit-btn" (click)="submitExam()">Submit</button>
  <div class="timer">Time Left: {{ timeLeft }} seconds</div>
</div>
