<!-- <app-navbar></app-navbar> -->

<div class="col-container" style="max-width: 800px; margin: 40px auto">
  <h2>All Exams</h2>

  <button
    routerLink="/admin/create"
    class="secondary-btn"
    style="width: fit-content"
  >
    Create New Exam
  </button>

  <div
    *ngIf="exams.length === 0"
    class="card-container"
    style="background-color: var(--card--variant--color); text-align: center"
  >
    No exams found.
  </div>

  <ul class="col-container" style="margin-top: 24px">
    <li
      class="card-container row-container"
      style="justify-content: space-between; align-items: center"
      *ngFor="let exam of exams"
    >
      <span style="font-weight: 500">{{ exam.title }}</span>

      <button
        (click)="deleteExam(exam.id)"
        class="destructive-btn"
        style="padding: 8px 12px; font-size: 14px"
      >
        Delete
      </button>
    </li>
  </ul>
</div>
