<div class="col-container exam-list-container">
  <h2>All Exams</h2>

  <button routerLink="/admin/create" class="secondary-btn create-exam-btn">
    Create New Exam
  </button>

  <div *ngIf="exams.length === 0" class="card-container empty-exam-card">
    No exams found.
  </div>

  <ul class="col-container exam-list">
    <li
      class="card-container row-container exam-item"
      *ngFor="let exam of exams"
    >
      <span class="exam-title">{{ exam.title }}</span>

      <button
        (click)="deleteExam(exam.id)"
        class="destructive-btn delete-exam-btn"
      >
        Delete
      </button>
    </li>
  </ul>
</div>
