<div class="results-container">
  <h2>Your Exam Results</h2>

  <div *ngIf="results.length === 0" class="info-alert">No results found.</div>

  <table class="results-table" *ngIf="results.length > 0">
    <thead>
      <tr>
        <th>Exam Name</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{ examTitlesMap[result.examId] || "Unknown Exam" }}</td>
        <td>{{ result.score }}</td>
        <td>{{ result.date | date : "medium" }}</td>
      </tr>
    </tbody>
  </table>
</div>
